@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


body {
    background-color:black;
}

.descripcion {
   color : white;
   line-height:40px ;
   text-align: center;
   vertical-align: middle;
   margin-top: 10%;
 
   
}
.texto {
    font-family: 'Indie Flower', cursive;
    font-size: x-large;
}
.añadir {
    color: #E7DE17;
    background-color: transparent;
    font-family:  'Indie Flower', cursive;
    font-size:large;
    border-width: 1px;
    border-style: solid;
    border-color:#E7DE17;
    text-align: center;
    width: 150px;
    top: 316px;
    right: 800px;
    border-radius: 5px;
    margin-left: 35%;

}

.puntuar {
    display:inline-flex;
    justify-content: center;
    padding:930 px;
    margin:150px;
    text-align: center;
    color: #E7DE17;
    background-color:none;
    border-color: #E7DE17;
    border-width: 1px;
    border-style: solid;
    border-color:#E7DE17;
    font-family:  'Indie Flower', cursive;
    font-size: large;
    text-align: 200px;
    position: absolute;
    width: 150px;
    top: 170px;
    right: 400px;
    border-radius: 5px;
  }

                        




    




